@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Search</h1>
    <p>Select a developer and game below.</p>
    <div style="display:flex; justify-content:center; gap: 30px;">
    </div>
</div>
